
.media {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  
}
.photo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    float: left;
    width:  200px;
    height: 200px;
    margin: 10px;
    padding-top: 10px;
}
  
.page {
    padding: 10px 10px 10px 10px;
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 20px;
 }
.artist-info {
    padding: 10px 10px 10px 10px;
}
ul {
    list-style-type: none;
}


