body {
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 1px;
}
/* paragraph about B*/
.intro-career {
    padding-top: 50px;
}

.artist-info {
    padding: 10px 10px 10px 10px;
}
.page {
    padding: 10px 10px 10px 10px;
    text-align: center;
    margin-bottom: 40px;
 }
 /* div class for images*/
.media {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* class for all photos*/
.photo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    float: left;
    width: 200px;
    height: 200px;
    margin: 10px;
    padding-top: 10px;
}

  /* div class for main content under paragraph*/
.skills-to-awards {
    margin-bottom: 30px;
    text-align: center;
    padding: 60px 10px 80px 10px;
}
/* takes away bullet points in list*/
ul {
    list-style-type: none;
}
/* main photo*/
.b-head-photo {
    display: flex;
    width:  250px;
    height: 275px;   
}
/* main photo*/
.box {
    display: flex;
    align-content: center;
    justify-content: center;
    padding-top: 200px;
    padding-bottom: 50px;
}

/* ol because main page has ul*/
ol {
    list-style-type: none;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 10px;
}
