* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topnav {
    height: 150px;
    background-color: black;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.logo-img {
    position: fixed;
    margin: 10px 15px 30px 10px;
    z-index: 1;
    padding-left: 10px;
    padding-top: 30px;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 0;
}

header li {
    margin: 20px;
}

header * {
    display: inline;
}

header li a {
    color: white;
    text-decoration: none;
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

header li a:hover {
    opacity: 0.9;
    color: #99FF00;
}

footer {
    text-align: center;
    background-color: black;
    height: 180px;
}

.information {
    color: white;
    text-align: center;
}

.footer {
    list-style: none;
}

.footer {
    list-style: none;
}

.familyMembers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.img-family {
    width: 200px;
    height: 200px;
    margin: 30px;
    border: 3px solid #ff1178;
    align-self: flex-end;
}

.img-hero-personal {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    padding-top: 200px;
    padding-bottom: 15px;
}


/* Style all font awesome icons */

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}


/* Add a hover effect if you want */

.fa:hover {
    opacity: 0.7;
}


/* Set a specific color for each brand */


/* Facebook */

.fa-facebook {
    background: #99FF00;
    color: #ff1178;
}


/* Twitter */

.fa-twitter {
    background: #99FF00;
    color: #ff1178;
}


/* Instagram */

.fa-instagram {
    background: #99FF00;
    color: #ff1178;
}

.social-icons {
    padding-top: 20px;
}

.footer-quote {
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 12px;
    padding-top: 20px;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: none;
    height: 6px;
    background-color: #ff1178;
}

h2 {
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    color: black;
    text-align: center;
    font-size: 35px;
    padding-top: 15px;
}

.homepage-name {
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    color: #99ff00;
    text-align: center;
    font-size: 55px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.introPersonal {
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    text-align: center;
    font-size: 35px;
}

p {
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 1px;
    color: black;
    text-align: center;
    font-size: 18px;
}

.home-hero {
    width: 50px;
    height: 700px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 140px;
}


}

/* Begin Phil's CSS*/
.artist-title {
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 1px;
    color: #99ff00;
    text-align: center;
    font-size: 70px;
}
.home-location {
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 1px;
    color: #99ff00;
    text-align: center;
    font-size: 55px;
}
.aliases {
    padding: 0em 0em 1em 0em;
}
.collaborators {
    padding: 0em 2em 0em 0em;
    margin-bottom: 1%;
    border: 1em;
    position: relative;
    float: left;
    width: 170px;
    height: 170px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.portrait {
    width: 40%;
    height: auto;
}
.paragraph {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.musicians {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}
.heading {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1%;
}
.col {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.names {
    margin-left: 5%;
    margin-top: 2%;
}
ul {
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 1px;
    color: black;
    text-align: center;
    font-size: 18px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}