#wrapper {
    background-color: white;
    
}

#RecentNews {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#UpcomingEvents {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
<<<<<<< HEAD
=======

.header-news {
    padding-top: 200px;
}
>>>>>>> master
